
# modpack-lock:start
mods/*.jar
resourcepacks/*.zip
shaderpacks/*.zip
datapacks/*.zip
*/**/*.disabled

## Exceptions
!resourcepacks/Default Trident.zip
# modpack-lock:end

bin/

downloads/

launcher/

libraries/

logs/

runtime/

saves/

screenshots/
!docs/screenshots/

versions/

webcache2/

launcher_*.*

command_history.txt

nativeUpdaterLog*.txt

servers.*
realms_persistence.json

treatment_tags.json

updateSourceCache.json

usercache.json

.fabric/

journeymap/data/

crash-reports/

backups/

data/

cache/

fancymenu_data/

modrinth/

TODO.md

debug/

sha1error.txt

waypoints/

journeymap/icon/

docs/clips/**/*.mov
docs/clips/**/*.mp4
docs/clips/**/*.png
docs/screenshots/source/**/*.png
