
/assets/

/bin/

/downloads/

/launcher/

/libraries/

logs/

/runtime/

saves/

/screenshots/

/versions/

/webcache2/

launcher_*.*

command_history.txt

nativeUpdaterLog*.txt

servers.*
realms_persistence.json

treatment_tags.json

updateSourceCache.json

usercache.json

/.fabric/

/journeymap/data/

/journeymap/server/

/voxelmap/

/crash-reports/

/backups/

/data/

shaderpacks/*EuphoriaPatches*/

shaderpacks/*EuphoriaPatches*/

/.physics_mod_cache/

/chesttracker/

cache/

fancymenu_data/

mods/physics-mod-*.jar

config/jade/usernamecache.json

controlify-natives/

modrinth/

config/*.toml.bak*

TODO.md

config/authme.jsonc
