
assets/

bin/

downloads/

launcher/

libraries/

logs/

runtime/

saves/

screenshots/

versions/

webcache2/

launcher_*.*

command_history.txt

nativeUpdaterLog*.txt

servers.*
realms_persistence.json

treatment_tags.json

updateSourceCache.json

usercache.json

options.txt

.fabric/
