// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "name": "jmws",
  "fields": {
    "showgloballabels": {
      "value": "true",
      "type": "BooleanField"
    },
    "uploadwaypoints": {
      "value": "true",
      "type": "BooleanField"
    },
    "autosync": {
      "value": "true",
      "type": "BooleanField"
    },
    "serverenabled": {
      "value": "true",
      "type": "BooleanField"
    },
    "showsharinglabels": {
      "value": "true",
      "type": "BooleanField"
    },
    "enablesharing": {
      "value": "true",
      "type": "BooleanField"
    },
    "showalerts": {
      "value": "false",
      "type": "BooleanField"
    },
    "master": {
      "value": "true",
      "type": "BooleanField"
    },
    "serverallowssharing": {
      "value": "true",
      "type": "BooleanField"
    },
    "uploadgroups": {
      "value": "true",
      "type": "BooleanField"
    },
    "serveruploadwaypoints": {
      "value": "true",
      "type": "BooleanField"
    },
    "updatewaypointfrequency": {
      "value": "40",
      "type": "CustomField"
    },
    "playeffects": {
      "value": "false",
      "type": "BooleanField"
    },
    "serveruploadgroups": {
      "value": "true",
      "type": "BooleanField"
    },
    "colouredtext": {
      "value": "true",
      "type": "BooleanField"
    }
  },
  "configVersion": "6.0.0-beta.60"
}